<h1>Usuario registrado</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="input">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="input">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Ingresar", :class => "btn large primary" %>
  </div>
<% end %>

<p>Usuario nuevo? <%= link_to "Registrate ahora!", signup_path %></p>
