<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<fieldset>
<legend>Nuevo Usuario</legend>
 <div class="clearfix">
 <div class="input">
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </div>
</div>
  <div class="clearfix">
<div class="input">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  </div>
  <div class="clearfix">
<div class="input">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password %>
  </div>
  </div>
  <div class="clearfix">
<div class="input">
    <%= f.label :password_confirmation, "Confirmar contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" , :class => "btn large primary" %>
  </div>
<% end %>
