
<% if signed_in? %>
	<table class="front" summary="Sólo usuarios registrados">
	<tr>
		<td class="main">
			<h1 class="post">Que hay de nuevo:</h1>
			   <%=render 'shared/post_form' %>
			   <%= render 'shared/feed' %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		<td>
	</tr>
	</table>
<%else%>
	<h1>Elclick.cl</h1>

	<div class="row">
	<div class="span6 columns">
	<p>
	  Este es el home de la  
	  <a href="http://elclick.cl/">Aplicacion de prueba</a>
	  ,v-testing, 2011/08/18, para ElClick.cl
	</p>
	</div>
	</div>
	<div class="row">
	<div class="span2 columns offset6">
	<%= link_to "Regístrate!", signup_path, :class => "btn large primary" %>
	</div>
	<div class="span4 columns">
	<div class="alert-message block-message success">
	<p>Usuario <b>registrado</b>?<b> <%= link_to "Ingresa ahora!", signin_path %></b></p>
	</div>
	</div>
	</div>
<% end %>
