
<% if signed_in? %>
	<table class="front" summary="Sólo usuarios registrados">
	<tr>
		<td class="main">
			<h1 class="post">Que hay de nuevo:</h1>
			   <%=render 'shared/post_form' %>
			   <%= render 'shared/feed' %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		<td>
	</tr>
	</table>
<%else%>
	<h1>Elclick.cl</h1>

	<div class="row">
	<div class="span6 columns">
	<h4>
	  Éste es el home de la plataforma de emprendimiento de ElClick.<br/>
	  Para comenzar:<br/>
	</h4>
	</div>
	</div>
	<div class="row">
	<div class="span3 columns offset6">
	<%= link_to "Regístrate!", signup_path, :class => "btn large primary" %>
	</div>
	<div class="span4 columns">
	<div class="alert-message block-message error">
	<p>Usuario <b>registrado</b>?<b> <%= link_to "Ingresa ahora!", signin_path %></b></p>
	</div>
	</div>
	</div>
<% end %>
